    body {
      margin: 0;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      background-color: #FFFAD4;
    }
    .handlee-regular {
      font-family: "Handlee", cursive, san-serif;
      font-weight: 400;
      font-style: normal;
        font-size: 16px;
    }
    .container {
      width: 90%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      margin-top: 100px;
    }
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .subtitle {
      font-size: 1rem;
      color: #555;
      margin-bottom: 15px;
    }
    .button-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    button {
      width: 100px;
      padding: 5px;
      font-size: 14px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #FFB861;
      color: #000;
    }
    button:hover {
      background-color: #FFAD7A;
    }
    .number {
      flex-grow: 1;
      text-align: left;
        padding: 5px;
      font-size: 16px;
      font-weight: bold;
      color: #555;
      white-space: nowrap;
    }
    .number:empty::after {
      content: '\00a0';
    }
    @media (max-width: 768px) {
      button {
        width: 80px;
        font-size: 12px;
      }
    }
